@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-primary-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
.raleway-secondary-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }
  /* ========== custom styles ======== */
  *{
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4,h5,h6,a{
    font-family: "Quicksand", serif;
  }
  p{
    font-family: "Raleway", serif;
  }
  .praimary-color{
    color: #FEA301;
  }
  .secondary-color{
    color: #01ACFD;
  }
  .content-width{
    width: 80%;
    margin: 0 auto;
  }
  .content-heading{
    font-size: 3.2rem;
  }
  .text-center{
    text-align: center;
  }
  
  .display-none{
    display: none;
  }
  .btn-primary{
    font-size: 1.2rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #fff;
    padding: 10px 40px;
    background-color: black;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
  }
  .btn-primary:hover{
    color: black;
    border: 1px solid black;
    transition: 0.3s;
    background-color: #fff;
  }
  /* ========== navbar styles ======== */
  .navbar{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brands{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .brand-name{
    font-size: 2rem;
    font-weight: bold;
  }
  .navs{
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
  }
  .nav-items{
    list-style: none;
  }
  .nav-links{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .btn-secondary{
    font-size: 1.2rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #fff;
    padding: 10px 40px;
    background-color: #FEA301;
    border: 1px solid #FEA301;
    border-radius: 12px;
    cursor: pointer;
  }
  .btn-secondary:hover{
    color: #FEA301;
    border: 1px solid #FEA301;
    transition: 0.3s;
    background-color: #fff;
  }

/* ========== banner styles ======== */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-des{
    margin: 24px 0px;
    padding: 0px 300px 0px 0px;
    font-size: 1.2rem;
    font-weight: 400;
}
.enroll-news{
    margin: 20px 0px;
}
/* ========== standerd curriculam styles ======== */
.curriculam{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.curriculam-title{
    margin: 60px 0px 80px 0px;
}
.curriculam-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}
.curriculam-card{
    width: 400px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 0px 0px 28px -15px;
    border: 1px solid rgba(222, 245, 255, 1);
    background-image: linear-gradient(rgba(222, 245, 255, 1),rgba(255, 255, 255, 0.541));
}
.card2{
    background-image: linear-gradient(rgba(255, 244, 220, 1),rgba(255, 255, 255, 0.541));
    border: 1px solid rgba(255, 244, 220, 1);
}
.card3{
    background-image: linear-gradient(rgba(238, 225, 255, 1),rgba(255, 255, 255,0.541));
    border: 1px solid rgba(238, 225, 255, 1);
}
/* .curriculam-card:hover{
  
} */
.card-img{
    margin-top: 52px;
}
.card-heading{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 30px 0px;
}
.card-des{
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 34px;
}
.card-btn{
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: black;
    background: none;
    cursor: pointer;
}
.arrow{
    font-size: 1.8rem;
    padding: 10px;
    color: #fff;
    border: 1px solid #FEA301;
    background-color: #FEA301;
    border-radius: 50%;
}
.arrow:hover{
    color: #FEA301;
    border: 1px solid #FEA301;
    transition: 0.3s;
    background-color: #fff;
}
.arrow-button{
    margin-top: 80px;
}
.arrow-left,.arrow-right{
  width: 60px;
  height: 60px;
}
/* ========== our stories styles ======== */
.stories{
    background-image: url(../assets/bg.png), linear-gradient(rgba(255, 255, 255, 0.849),rgba(254, 161, 1, 0.33));
    background-repeat: no-repeat;
    background-size: cover;
}
.stories-title{
    margin: 60px 0px 80px 0px; 
}
.stories-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.stories-card{
  background: #fff;
  border-radius: 16px;
}
.stories-card img{
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.st-card-btn{
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: #3CD8E8;
  border: 1px solid #3CD8E8;
  border-radius: 48px;
  padding: 10px 20px;
}
.card-btn-1{
  background-color: #77A18D;
  border: 1px solid #77A18D;
}
.card-btn-2{
  background-color: #5D58F0;
  border: 1px solid #5D58F0;
}
.st-card-title{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 28px;
  padding: 32px 0px 48px 0px;
}
.stories-card-title{
  font-size: 1rem;
  font-weight: bold;
  line-height: 28px;
  padding: 32px 0px 48px 0px;
}
.st-card-des{
  font-size: 1rem;
  line-height: 28px;
}
#st-card-1{
  grid-row: span 2;
}
.st-card-content{
  padding: 0px 30px;
  margin-top: -26px;
}
.stories-btn{
  margin: 80px 0px 60px 0px;
  padding: 10px 56px;
  letter-spacing: 4px;
}
/* ========== footer styles ======== */
.footer-area{
  background-color: #01ACFD;
  color: #fff;
}
.footer-contents{
  padding: 130px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-content{
  width: 32%;
}
.logo-heading{
  display: flex;
  justify-content: start;
}
.logo-heading>img{
  width: 140px;
}
.logo-heading>h1{
  font-size: 2.5rem;
  padding: 6px 0px 36px 0px;
}
.foot-content-title{
  padding-bottom: 32px;
}
.footer-des{
  font-size: 1.2rem;
  line-height: 28px;
  font-weight: 400;
  padding-right: 50px;
}
.fl-item{
  list-style:none;
  padding-bottom: 20px;
}
.flink-item{
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
}
  /* ========== Responsive media query============ */
  @media only screen and (min-width : 577px) and (max-width : 992px){
    #st-card-1,.brand-name
    {
      display: none;
    }
/* ========== banner styles ======== */
    .banner-heading, .curriculam-title{
        font-size: 2rem;
    }
    .banner-content{
        width: 60%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-des{
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
    }
/* ========== our stories styles ======== */
  .st-card-extra{
    display: initial;
    }
    .st-card-btn{
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width : 576px){
    .content-width{
        width: 100%;
      }
      .media-width{
        width: 90%;
        margin: 0 auto;
      }
    .navs , .brand-name , .btn-secondary, .arrow-button,#st-card-1
    {
        display: none;
    }
    .navbar{
        margin: 0px;
        padding: 10px;
        height: 70px;
        border: 1px solid #FEA301;
    }
/* ========== banner styles ======== */
    .brand-logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .hamburg{
        display: initial;
      }
      .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-heading, .curriculam-title, .stories-title,.foot-content-title{
        font-size: 2rem;
    }
    .banner-des{
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
    }
    .banner-img img{
        width: 100%;
        margin: 20px 0px;
    }
    .banner-content{
        text-align: center;
    }
/* ========== our stories styles ======== */
  .st-card-extra{
    display: initial;
  }
  .stories-cards{
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  }
  .st-card-content{
    padding: 0px 10px;
    margin-top: -26px;
  }
  .st-card-btn{
    font-size: 0.8rem;
  }
  .footer-contents{
    flex-direction: column;
  }
  .footer-content{
    width: 100%;
  }
  .footer-des{
    padding: 30px 0px;
    padding: 40px 0px;
    line-height: 34px;
  }
}